#chap4{
  position: absolute;
  /*margin-top: 25%;*/
  top: 45%;
  left:0;
  width: 100%;
  text-align: center;
}

a {
  color:white;
}

.horizTranslate {
  transition:all 1s!important;
  -webkit-transition:all 1s!important;
  -moz-transition:all 1s!important;
  -ms-transition:all 1s!important;
  -o-transition:all 1s!important;
}

.letter {
    transition:all 1s!important;
    -webkit-transition:all 1s!important;
    -moz-transition:all 1s!important;
    -ms-transition:all 1s!important;
    -o-transition:all 1s!important;
}

.letter.flip {
  transform: rotateY(-360deg);
}

.clipped-box{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

#container{
  width: 100%;
  height: 100%;
  cursor:pointer;
}

.line{
  font-size: 20px;
  color:white;
  line-height: 1.35;
}
