#chap6{
  position: absolute;
  /*margin-top: 25%;*/
  top: 45%;
  left:0;
  width: 100%;
  text-align: center;
  z-index:3;
}

a {
  color:white;
    z-index:4;
}

#textefinal {
  position: absolute;
  /*text-align: center;*/
  top: 25%;
  left:30%;
  width: 40%;
  background-color: black;
  height: 40%;
  display:none; /*On cache la zone de texte a l'utilisateur au debut du chapitre*/
  font-size:20px;
  font-family: "Times New Roman", Helvetica;
  color: white;
  z-index:2; /*le textefinal se superpose au canvas et EST prioritaire*/
  resize: none; /*Par defaut, l'utilisateur peut changer la taille d'un textarea mais on ne veut pas que ce soit le cas ici
  donc on ecrit cette ligne de code pour ça*/
  cursor: auto; /*pour avoir directement le curseur de la souris sur le texte a l'affichage de ce champ de texte */
}

#textefinal:focus{ /*debug focus*/
      /*background-color: yellow;*/
}

#fin{
  font-size:50px;
  z-index:3; /*le mot de fin est prioritaire e a tout le reste*/
}

#canvasPhraseSouris{
  /*border: 1px solid #8286C5;*/ /*Une bordure sur le canvas pour le debug */
  display: none; /*On attend que le 6 soit passe pour l'afficher */
  position: absolute;
  left: 0%;
  top: 10%;
  z-index:1;
}

#collection-letter1{
    top: 20%;
    left: 45%;
    position: fixed;
}

#collection-letter1:lang(ar){
    left: 55%;
    position: fixed;
}

#collection-letter2{
    top: 48%;
    left: 75%;
    position: fixed;
}

#collection-letter2:lang(ar){
    left: 83%;
    position: fixed;
}

#collection-letter3{
    top: 76%;
    left: 43%;
    position: fixed;
}

#collection-letter3:lang(ar){
    left: 56%;
    position: fixed;
}

#collection-letter4{
    top: 48%;
    left: 9%;
    position: fixed;
}

#collection-letter4:lang(ar){
    left: 35%;
    position: fixed;
}

@media (max-width: 1200px) {
    #collection-letter1{
        top: 20%;
        left: 39%;
        position: fixed;
    }

    #collection-letter1:lang(ar){
        left: 58%;
        position: fixed;
    }

    #collection-letter2{
        top: 48%;
        left: 65%;
        position: fixed;
    }

    #collection-letter2:lang(ar){
        left: 78%;
        position: fixed;
    }

    #collection-letter3{
        top: 76%;
        left: 36%;
        position: fixed;
    }

    #collection-letter3:lang(ar){
        left: 59%;
        position: fixed;
    }

    #collection-letter4{
        top: 48%;
        left: 9%;
        position: fixed;
    }

    #collection-letter4:lang(ar){
        left: 33%;
        position: fixed;
    }
}

.line{
    font-size: 20px;
    color:white;
    line-height: 1.35;
    white-space: pre
}

.letter{
    font: 20px Arial;
    display: block;
}

.letter.transition{
    transition:all 5s!important;
    -webkit-transition:all 5s!important;
    -moz-transition:all 5s!important;
    -ms-transition:all 5s!important;
    -o-transition:all 5s!important;
    transition: rotate(180);
}