
a {
  color: white;
}

#chap5{
  position: absolute;
  /*margin-top: 25%;*/
  top: 45%;
  left:0;
  width: 100%;
  text-align: center;
  z-index:3; /*le texte passe devant la video */
}

#canvas{
    position: absolute;
    top:0%;
    left:0%;
    z-index:2;
    width:100%;
    height:100%;
}


#video{
    position: fixed;
    top:10%;
    left:10%;
    z-index:1;
    width:100%;
    height:100%;
}
