<div class= "content">

  <div class = "introduction"> {{"Déprise est également disponible sous forme d'application mobile." | translate }}</div>
<a href="https://play.google.com/store/apps/details?id=com.utc.deprise" target="_blank"> {{"Application sur Google Play" | translate }} </a> <br />
<a href="https://itunes.apple.com/fr/app/d%C3%A9prise/id1434229807" target="_blank"> {{"Application sur l'Apple Store" | translate }} </a>
</div>
