<div class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container container-nav">
      <a routerLink="/home" class="navbar-brand">{{ "Déprise" | translate }}</a>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/telechargement"> {{ "Présentation" | translate }} </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/credit">{{ "Crédits" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/prix">{{ "Prix" | translate }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="scenes">{{ "Scènes" | translate }} <span class="caret"></span></a>
            <!-- ajouter show a dropdown menu pour l'afficher en permanence -->
            <!--<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">-->
            <div class="dropdown-menu" *ngIf="lang == 'hu'" aria-labelledby="scenes">
              <a class="dropdown-item" routerLink="/home">{{ "Accueil" | translate }}</a>
              <div class="dropdown-divider"></div>
              <!--<a class="dropdown-item" (click)="reload()" routerLink="/chapitre1">{{ "Scène" | translate }} 1</a>
              <a class="dropdown-item" (click)="reload()" routerLink="/chapitre2">{{ "Scène" | translate }} 2</a>
              <a class="dropdown-item" (click)="reload()" routerLink="/chapitre3">{{ "Scène" | translate }} 3</a>
              <a class="dropdown-item" (click)="reload()" routerLink="/chapitre4">{{ "Scène" | translate }} 4</a>
              <a class="dropdown-item" (click)="reload()" routerLink="/chapitre5">{{ "Scène" | translate }} 5</a>
              <a class="dropdown-item" (click)="reload()" routerLink="/chapitre6">{{ "Scène" | translate }} 6</a> -->
              <!-- l'appel à click=reload() permet de revenir au debut d'une scene, mais reset la langue au francais quelle que soit la langue de depart choisie-->
              <a class="dropdown-item" routerLink="/chapitre1" (click)="reload()">1. {{ "Scène" | translate }}</a>
              <a class="dropdown-item" routerLink="/chapitre2" (click)="reload()">2. {{ "Scène" | translate }}</a>
              <a class="dropdown-item" routerLink="/chapitre3" (click)="reload()">3. {{ "Scène" | translate }}</a>
              <a class="dropdown-item" routerLink="/chapitre4" (click)="reload()">4. {{ "Scène" | translate }}</a>
              <a class="dropdown-item" routerLink="/chapitre5" (click)="reload()">5. {{ "Scène" | translate }}</a>
              <a class="dropdown-item" routerLink="/chapitre6" (click)="reload()">6. {{ "Scène" | translate }}</a>
            </div>

            <div class="dropdown-menu" *ngIf="lang != 'hu'" aria-labelledby="scenes">
                <a class="dropdown-item" routerLink="/home">{{ "Accueil" | translate }}</a>
                <div class="dropdown-divider"></div>
                <!--<a class="dropdown-item" (click)="reload()" routerLink="/chapitre1">{{ "Scène" | translate }} 1</a>
                <a class="dropdown-item" (click)="reload()" routerLink="/chapitre2">{{ "Scène" | translate }} 2</a>
                <a class="dropdown-item" (click)="reload()" routerLink="/chapitre3">{{ "Scène" | translate }} 3</a>
                <a class="dropdown-item" (click)="reload()" routerLink="/chapitre4">{{ "Scène" | translate }} 4</a>
                <a class="dropdown-item" (click)="reload()" routerLink="/chapitre5">{{ "Scène" | translate }} 5</a>
                <a class="dropdown-item" (click)="reload()" routerLink="/chapitre6">{{ "Scène" | translate }} 6</a> -->
                <!-- l'appel à click=reload() permet de revenir au debut d'une scene, mais reset la langue au francais quelle que soit la langue de depart choisie-->
                <a class="dropdown-item" routerLink="/chapitre1" (click)="reload()">{{ "Scène" | translate }} 1</a>
                <a class="dropdown-item" routerLink="/chapitre2" (click)="reload()">{{ "Scène" | translate }} 2</a>
                <a class="dropdown-item" routerLink="/chapitre3" (click)="reload()">{{ "Scène" | translate }} 3</a>
                <a class="dropdown-item" routerLink="/chapitre4" (click)="reload()">{{ "Scène" | translate }} 4</a>
                <a class="dropdown-item" routerLink="/chapitre5" (click)="reload()">{{ "Scène" | translate }} 5</a>
                <a class="dropdown-item" routerLink="/chapitre6" (click)="reload()">{{ "Scène" | translate }} 6</a>
              </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="version">{{ "Langues" | translate }} <span class="caret"></span></a>
            <!-- ajouter show a dropdown menu pour l'afficher en permanence -->
            <!--<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">-->
            <div class="dropdown-menu" aria-labelledby="scenes">
              <a class="dropdown-item" (click)="_translate.use('fr')"> Français </a>
              <a class="dropdown-item" (click)="_translate.use('en')"> English </a>
              <a class="dropdown-item" (click)="_translate.use('es')"> Español </a>
              <a class="dropdown-item" (click)="_translate.use('it')"> Italiano </a>
              <a class="dropdown-item" (click)="_translate.use('pt')"> Português </a>
              <a class="dropdown-item" (click)="_translate.use('de')"> Deutsch </a>
              <a class="dropdown-item" (click)="_translate.use('zh')"> 中文 </a>
              <a class="dropdown-item" (click)="_translate.use('ar')"> العربية </a>
              <a class="dropdown-item" (click)="_translate.use('hu')"> Magyar </a>
              <a class="dropdown-item" (click)="_translate.use('pl')"> Polski </a>
              <a class="dropdown-item" (click)="_translate.use('ru')"> Pусский </a>
            </div>
          </li>



          <li>
            <a class="nav-link" href="http://www.utc.fr/~bouchard/Deprise/" target="_blank">{{"Version Flash" | translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/mobile">{{"Version application smartphone" | translate}}</a>
          </li>

          <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary">Primary</button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="deprise">Accueil</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="chapitre1">Scène 1</a>
                  <a class="dropdown-item" href="chapitre2">Scène 2</a>
                  <a class="dropdown-item" href="chapitre3">Scène 3</a>
                  <a class="dropdown-item" href="chapitre4">Scène 4</a>
                  <a class="dropdown-item" href="chapitre5">Scène 5</a>
                  <a class="dropdown-item" href="chapitre6">Scène 6</a>
              </div>
            </div>
          </div>-->
          <!--<li class="nav-item dropdown show">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
            <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
          <!--  <li class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
            </li>-->
        </ul>

      </div>
    </div>
</div>



<div class="container">
  <router-outlet> </router-outlet>
</div>
