<div class= "content">

  <div class = "introduction"> {{"Déprise a gagné le prix New Media Writing Prize en 2011." | translate }}</div>
<a href="http://newmediawritingprize.co.uk/past-winners/2011-shortlist/" target="_blank"> {{"Voir le site" | translate }} </a>

</div>
