body, html{
  position: relative;
  overflow: hidden;
}
#chap3{
  position: absolute;
  top: 45%;
  left:0%;
  width: 100%;
  text-align: center;
  z-index: 3;
}

a {
  color:white;
}

#defilementText{

  /*width: 100%;
  height: 81%;
  top: 30%;
  left: 0;
  position: absolute;

  z-index: 1;
  text-align: center;
  color: white; */

  /*Je laisse ci-dessus ce que Fred a fait en commentaire
  et je prends ce qui me paraît interessant */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%; /*defilementText doit prendre 100% de la hauteur pour pouvoir mesurer plus facilement la hauteur du document dans le .ts */
  text-align:left;

  /*z-index:4;*//*on veut mettre le texte devant les autres elements */
  color: white;

  font-size: 14px;
  /*line-height:50px;*/ /*4px de libre en haut, 16 de taille, 4px de libre en bas*/

  display: none;
  overflow: hidden;
}

/*.versPoeme{
  display:none;
}*/

/*#myFrame{
  position: absolute;
  top: 45%;
  left: 45%;
}*/
#vers0{
  position: relative;
  top: 50%;
  left: 80%;
  opacity:0;
  -webkit-animation: grossirVersHaut  40s ease-out 17s ;
  -moz-animation: grossirVersHaut  40s ease-out 17s;
  -ms-animation: grossirVersHaut  40s ease-out 17s;
  -o-animation: grossirVersHaut  40s ease-out 17s;
  animation: grossirVersHaut  40s ease-out 17s;
}

#vers1{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 16s ;
  -moz-animation: grossirVersHaut  40s ease-out 16s;
  -ms-animation: grossirVersHaut  40s ease-out 16s;
  -o-animation: grossirVersHaut  40s ease-out 16s;
  animation: grossirVersHaut  40s ease-out 16s;
  opacity:0;
}
#vers2{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 15s ;
  -moz-animation: grossirVersHaut  40s ease-out 15s;
  -ms-animation: grossirVersHaut  40s ease-out 15s;
  -o-animation: grossirVersHaut  40s ease-out 15s;
  animation: grossirVersHaut  40s ease-out 15s;
  opacity:0;
}
#vers3{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 14s ;
  -moz-animation: grossirVersHaut  40s ease-out 14s;
  -ms-animation: grossirVersHaut  40s ease-out 14s;
  -o-animation: grossirVersHaut  40s ease-out 14s;
  animation: grossirVersHaut  40s ease-out 14s;
  opacity:0;
}
#vers4{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 13s ;
  -moz-animation: grossirVersHaut  40s ease-out 13s;
  -ms-animation: grossirVersHaut  40s ease-out 13s;
  -o-animation: grossirVersHaut  40s ease-out 13s;
  animation: grossirVersHaut  40s ease-out 13s;
  opacity:0;
}
#vers5{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 12s ;
  -moz-animation: grossirVersHaut  40s ease-out 12s;
  -ms-animation: grossirVersHaut  40s ease-out 12s;
  -o-animation: grossirVersHaut  40s ease-out 12s;
  animation: grossirVersHaut  40s ease-out 12s;
  opacity:0;
}
#vers6{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 11s ;
  -moz-animation: grossirVersHaut  40s ease-out 11s;
  -ms-animation: grossirVersHaut  40s ease-out 11s;
  -o-animation: grossirVersHaut  40s ease-out 11s;
  animation: grossirVersHaut  40s ease-out 11s;
  opacity:0;
}
#vers7{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 10s ;
  -moz-animation: grossirVersHaut  40s ease-out 10s;
  -ms-animation: grossirVersHaut  40s ease-out 10s;
  -o-animation: grossirVersHaut  40s ease-out 10s;
  animation: grossirVersHaut  40s ease-out 10s;
    opacity:0;
}
#vers8{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 9s ;
  -moz-animation: grossirVersHaut  40s ease-out 9s;
  -ms-animation: grossirVersHaut  40s ease-out 9s;
  -o-animation: grossirVersHaut  40s ease-out 9s;
  animation: grossirVersHaut  40s ease-out 9s;
    opacity:0;

}

#vers9{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 8s ;
  -moz-animation: grossirVersHaut  40s ease-out 8s;
  -ms-animation: grossirVersHaut  40s ease-out 8s;
  -o-animation: grossirVersHaut  40s ease-out 8s;
  animation: grossirVersHaut  40s ease-out 8s;
  opacity:0;
}
#vers10{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 7s ;
  -moz-animation: grossirVersHaut  40s ease-out 7s;
  -ms-animation: grossirVersHaut  40s ease-out 7s;
  -o-animation: grossirVersHaut  40s ease-out 7s;
  animation: grossirVersHaut  40s ease-out 7s;
  opacity:0;
}
#vers11{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 6s ;
  -moz-animation: grossirVersHaut  40s ease-out 6s;
  -ms-animation: grossirVersHaut  40s ease-out 6s;
  -o-animation: grossirVersHaut  40s ease-out 6s;
  animation: grossirVersHaut  40s ease-out 6s;
  opacity:0;
}
#vers12{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 5s ;
  -moz-animation: grossirVersHaut  40s ease-out 5s;
  -ms-animation: grossirVersHaut  40s ease-out 5s;
  -o-animation: grossirVersHaut  40s ease-out 5s;
  animation: grossirVersHaut  40s ease-out 5s;
  opacity:0;
}
#vers13{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 4s ;
  -moz-animation: grossirVersHaut  40s ease-out 4s;
  -ms-animation: grossirVersHaut  40s ease-out 4s;
  -o-animation: grossirVersHaut  40s ease-out 4s;
  animation: grossirVersHaut  40s ease-out 4s;
  opacity:0;
}
#vers14{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 3s ;
  -moz-animation: grossirVersHaut  40s ease-out 3s;
  -ms-animation: grossirVersHaut  40s ease-out 3s;
  -o-animation: grossirVersHaut  40s ease-out 3s;
  animation: grossirVersHaut  40s ease-out 3s;
  opacity:0;
}
#vers15{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 2s ;
  -moz-animation: grossirVersHaut  40s ease-out 2s;
  -ms-animation: grossirVersHaut  40s ease-out 2s;
  -o-animation: grossirVersHaut  40s ease-out 2s;
  animation: grossirVersHaut  40s ease-out 2s;
  opacity:0;
}
#vers16{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 1s ;
  -moz-animation: grossirVersHaut  40s ease-out 1s;
  -ms-animation: grossirVersHaut  40s ease-out 1s;
  -o-animation: grossirVersHaut  40s ease-out 1s;
  animation: grossirVersHaut  40s ease-out 1s;
  opacity:0;
}
#vers17{
  position: relative;
  top: 50%;
  left: 80%;
  -webkit-animation: grossirVersHaut  40s ease-out 0s ;
  -moz-animation: grossirVersHaut  40s ease-out 0s;
  -ms-animation: grossirVersHaut  40s ease-out 0s;
  -o-animation: grossirVersHaut  40s ease-out 0s;
  animation: grossirVersHaut  40s ease-out 0s;
  opacity:0;
}


@-webkit-keyframes grossirVersHaut {
  0% { -webkit-transform: scale(1); opacity: 0;}
	50% { opacity: 1; }
  100% { -webkit-transform: scale(2); opacity: 0.3;}
}

@-moz-keyframes grossirVersHaut {
  0% { -webkit-transform: scale(1); opacity: 0; }
	50% { opacity: 1; }
  100% { -webkit-transform: scale(2); opacity: 0.3;}
}

@-ms-keyframes grossirVersHaut {
  0% { -webkit-transform: scale(1); opacity: 0; }
	50% { opacity: 1; }
  100% { -webkit-transform: scale(2); opacity: 0.3;}
}

@-o-keyframes grossirVersHaut {
  0% { -webkit-transform: scale(1); opacity: 0; }
	50% { opacity: 1; }
  100% { -webkit-transform: scale(2); opacity: 0.3;}
}

@keyframes grossirVersHaut {
  0% { -webkit-transform: scale(1); opacity: 0; }
	50% { opacity: 1; }
  100% { -webkit-transform: scale(2); opacity: 0.3;}
}
