<table class="flag">

  <div class = "row">
      <div class= "flagRow col-xs-12 col-md-2 col-md-offset-3 col-lg-4 offset-lg-1">
        <a href="{{ TelechargementFr }}">
          <img class = "Im" src="{{ ImageFr }}">
        </a>
        <div class ="descriptionTel">
         Télécharger la présentation en français 
        </div>
      </div>
      <div class="col-xs-12 col-lg-2"> </div>
      <div class="flagRow col-xs-12 col-md-2 col-md-offset-2 col-lg-4">
          <a href="{{ TelechargementAn }}">
              <img class = "Im" src="{{ ImageAn }}">
          </a>
      <div class="descriptionTel">
         Download the presentation in English
      </div>
      </div>
  </div>
  <br/><p></p>
  <div>
    Official selections, reviews and pedagogical material<br/>
    <a href="http://www.utc.fr/~bouchard/works/deprise.html" target="_blank">http://www.utc.fr/~bouchard/works/deprise.html </a>
    </div>
</table>
  

