.flag{
    text-align: center; 
    width: 100%; 
    height: 50%;
    margin-top: 20%; 
}

.flagRow{
    height:200%;
}

.Im{
    width:100%;
    height:100%;
}

.descriptionTel{
    margin-top: 5%;
}


