<div class="container">

    <div class="row">
        <div class="col-lg-4">
            <div class="row titre">
                <div class="col-lg-12">
                    {{"Réalisation" | translate }}
                </div>
            </div>
            <div class="row">
                <table>

                    <tr>
                        <td>{{ "Version Flash" | translate }} </td>
                        <td> Serge Bouchardon <br /> Vincent Volckaert</td>
                    </tr>


                    <tr>
                        <td>{{ "Version Angular" | translate }} </td>
                        <td> Serge Bouchardon <br> Thomas Le Vaou <br> Yi You <br> Baptiste Wojtkowski <br> Frédéric
                            Tauch</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row titre">
                <div class="col-lg-12">
                    {{ "Traduction" | translate }}
                </div>
            </div>
            <div class="row">
                <table>

                    <tr>Valerie Bouchardon (English)</tr>
                    <tr>Martha Asunción Alonso (español)</tr>
                    <tr>Giovanna di Rosario (italiano)</tr>
                    <tr>Diogo Marques (português)</tr>
                    <tr>Sylvia Scholl & Mathilde Bouchardon (Deutsch)</tr>
                    <tr>Yi You & Clint Yuan (中文)</tr>
                    <tr>Mounir Hammouda & Melissa Mimouni (العربية)</tr>
                    <tr>Erika Fülöp (magyar)</tr>
                    <tr>Agnieszka Przybyszewska (polski)</tr>
                    <tr>Ekaterina Erémina (русский)</tr>
                    <tr>Maria Shahid (हिन्दी)</tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row titre">
                <div class="col-lg-12">
                    {{"Musique" | translate }}
                </div>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <td *ngIf="lang == 'hu'">2. {{"Scène" | translate}}</td>
                        <td *ngIf="lang != 'hu'">{{"Scène" | translate}} 2</td>
                        <!--Traduire ces mot scène" dans les langues -->
                        <td>{{"Ambiance" | translate }}, Sound-fishing.net</td>
                    </tr>
                    <tr>
                        <td *ngIf="lang == 'hu'">3. {{"Scène" | translate}}</td>
                        <td *ngIf="lang != 'hu'">{{"Scène" | translate}} 3</td>
                        <td>Bizet, {{"Carmen"}} : Julia Migenes, "L’amour est un oiseau rebelle"</td>
                    </tr>
                    <tr>
                        <td *ngIf="lang == 'hu'">5. {{"Scène" | translate}}</td>
                        <td *ngIf="lang != 'hu'">{{"Scène" | translate}} 5</td>
                        <td>Hervé Zénouda, "Les Etres Indécis"</td>
                    </tr>
                    <tr>
                        <td></td> <!-- il y avait un {{"Soap" | translate }} -->
                        <td>
                            <div id="soap">{{ "Saxophone" | translate }} : Cathy Heyden <br>
                                {{ "Guitare électrique" | translate }} : Thomas petit <br>
                                {{ "Batterie/Montage" | translate }} : Hervé Zénouda<br>
                                {{ "Extrait du disque" | translate }} "Demain dès l'aube" (2002), Trace Label</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <br/>
    <div class="row">
        <div class="col-lg-8">
            <div class="row titre">
                <div class="col-lg-12">
                    {{"Voix" | translate }}
                </div>
            </div>
            <div class="row">
                <table>

                    <tr>
                        <td *ngIf="lang == 'hu'">{{"Téléphone" | translate }} ( 1. {{ "Scène"| translate }} )</td>
                        <td *ngIf="lang != 'hu'">{{"Téléphone" | translate }} ( {{ "Scène"| translate }} 1)</td>
                        <td> Simone Hérault (français)<br />Valérie Bouchardon (English)<br />Yolanda Cepeda (italiano)<br />Carolina
                            Martins (português)<br />Sylvia Scholl<br />Zinan Zhou (中文)<br />Assia Debri (العربية)<br />Erika Fülöp (magyar)<br />Agnieszka Przybyszewska (polski)<br />Ekaterina Erémina (русский)<br />Kalpna Lodhi (हिन्दी)</td>
                    </tr>
                    <tr>
                        <td *ngIf="lang == 'hu'"> {{"Narrateur" | translate }} ( 2. {{ "Scène"| translate }} )</td>
                        <td *ngIf="lang != 'hu'"> {{"Narrateur" | translate }} ( {{ "Scène"| translate }} 2 )</td>
                        <td>Julien Verfaillie (français)<br />Mark Kay (English)<br />Alberto Concejal (italiano)<br />Valter Ramos (português)<br />Yi You (中文)<br />Amine Mimouni (العربية)<br />László Dolgos (magyar)<br />Andrzej Kompa (polski)<br />Taras Mashtalir (русский)<br />S Anas Ahmad (हिन्दी)<td>
                    </tr>
                    <tr>
                        <td *ngIf="lang == 'hu'"> {{"ado" | translate }} ( 4. {{ "Scène" | translate }} )</td>
                        <td *ngIf="lang != 'hu'"> {{"ado" | translate }} ( {{ "Scène" | translate }} 4 )</td>
                        <td>Maximilien Adam (français)<br />Kieran Forest (English & Deutsch)<br />Tomás López Santiago (italiano)<br />Diogo Marques (português)<br />Lijun Zheng (中文)<br />Abderrahmane Senouci(العربية)<br />László Iván Dolgos (magyar)<br />Roch Olesiński (polski)<br />Taras Mashtalir (русский)<br />S Adil Khan (हिन्दी)<td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row titre">
                <div class="col-lg-12">
                    {{"Vidéo" | translate }}
                </div>
            </div>
            <div class="row">
                <table>
                    JK Keller : "Living my life faster"
                </table>
            </div>
            <br/>
            <div class="row titre">
                <div class="col-lg-12">
                    {{"Épouse" | translate}}
                </div>
            </div>
            <div class="row">
                <table>
                    © GettyImages
                </table>
            </div>
        </div>
    </div>
</div>