.container{
    top: 12%;
    position: absolute;
    height: 94%;

}

.titre{
    text-align: center;
}
.sous-titre{
    color: white;
    width: 100%;
    font-size: 20px; 
    height: 7%;
    vertical-align: text-bottom;
}

.titre{
    width: 100%;
    text-align: center; 
}

table{
color : gray;
text-align: center;
margin: auto;
width: 100%; 
margin-top: 2%;
height: 40%;

}

td{
    vertical-align: text-top;
    width: 33%;

}

#soap{
    font-size: 12px;
}

#Realisation{
    height: 100%;
    width: 100%;
}


