html {/*Interdiction de passer en bleu les elements selectionnes */
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

body{
  background-color: black;
  color: white;
}

div:lang(ar){
    direction: rtl;
}

.dropdown-item{
  color: #212529 !important;
}



/*a {
  color:white;
}
*/
