body, html{
  overflow: scroll;
}



#title{
    font-size: 68px;
    text-align: justify;
    overflow: hidden;
}

#description{
    font-size: 16px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.411);
    overflow: hidden;
    height: 200px;
}

.flag-block{
    margin-left: 20px;
    width: 40px;
    cursor:pointer;
    margin: 10px;
    transition: transform .5s; /* Animation */
    transform-origin: right;
}

.flag-block:hover>.text-country{
    color: white;
}

.flag-block:hover{
    margin: 10px;
    transform: scale(1.5);
}

.flag-block:focus>.text-country{
    color: white;
}

.flag-block:focus{
    margin: 10px;
    transform: scale(1.5);
}

.left{
    text-align: right
}

.cadre{
    width:100%;
    height: 80%;
    top: 10%;
    position: absolute;
}

.vide{
    height: 15%;
}


.bloc-texte{
    color: rgba(255, 255, 255, 0.411);
    text-decoration: none;
    transition: transform .8s; /* Animation */
    transform-origin: top;
}

.bloc-texte:hover {
    transform: scale(1.08);
}

.bloc-texte:hover > #description{ /*On affiche les textes dans un blanc un peu plus clair au passage de la souris*/
    color: white;
    text-decoration: none;
}
.bloc-texte:hover > #title{ /*On affiche les textes dans un blanc un peu plus clair au passage de la souris*/
    color: white;
}

.bloc-texte.disabled {
    pointer-events: none ! important;
    cursor:default;
}


#row2col1{
    height: 20%;
}

#row1col2{
    height: 29%;
}

#row3col2{
    height: 20%;
}
#row2col3{
    height: 15%;
}

#titreAnglais{
    line-height: 73px;
    margin-bottom: 28px;
    font-size: 100px;
}

#titrePortugais{
    line-height: 63px;
    margin-bottom: 28px;
}
