

<div class="container cadre row">

  <div class="col-lg-2 left">
      <div *ngFor="let c of countries; let i = index">
          <img id="{{ 'flag' + i }}" class="flag-block" (mouseenter)="changeLanguage(i)" 
          tabindex='-1' src="{{'assets/img/' + c + '-flag.svg'}}">
      </div>
  </div>

  <div class="col-lg-7 offset-lg-1 bloc-texte">
      <a routerLink="/chapitre1" class="bloc-texte" *ngIf="!linkDisable">
        <div id="description">
          {{ descriptionFrancais }}
        </div>
        <div id="title">
          {{ titleFrancais }}
        </div>
      </a>

      <div class="bloc-texte" *ngIf="linkDisable">
        <div id="description">
          {{ descriptionFrancais }}
        </div>
        <div id="title">
          {{ titleFrancais }}
        </div>
    </div>
  </div>


<!-- <div class="col-lg-4">
    <div class="row" id="groupe">
        <a routerLink="/chapitre1" (click)="_translate.use('fr')" class="blocTexte">
          <div  class="description">
            {{ descriptionFrancais }}
          </div>
          <div class="titre">
              {{ titleFrancais }}
          </div>
       </a>
    </div>
    <div class="row" id="row2col1"></div>
    <div class="row">
        <a routerLink="/chapitre1" (click)="_translate.use('es')"  class="blocTexte">
          <div class="titre">
              {{ titleEspagnol }}
          </div>
        <div class="description">
          {{ descriptionEspagnol }}
        </div>
      </a>
    </div>
</div>
<div class="col-lg-4">
    <div class="row" id="row1col2"></div>
    <div class="row">
    <a routerLink="/chapitre1" (click)="_translate.use('en')"  class="blocTexte">
      <div class="titre" id="titreAnglais">
          {{ titleAnglais }}
      </div>
      <div class="description">
        {{ descriptionAnglais }}
      </div>
        </a>
    </div>
  <div class="row" id="row3col2"></div>
</div>
<div class="col-lg-4">
  <div class="row">
    <a routerLink="/chapitre1" (click)="_translate.use('it')"  class="blocTexte">
      <div class="description">
        {{ descriptionItalien }}
      </div>
      <div class="titre">
          {{ titleItalien }}
      </div>
      </a>
  </div>
  <div id="row2col3"></div>
  <div class="row">
    <a routerLink="/chapitre1" (click)="_translate.use('pt')"  class="blocTexte">
      <div class="titre" id="titrePortugais">
          {{ titlePortugais }}
      </div>
    <div class="description"  >
      {{ descriptionPortugais }}
    </div>
  </a>
  </div>

</div> -->


<router-outlet> </router-outlet>
</div>





<audio src={{ambianceTitrePath}} autoplay></audio>

  

