body, html {
  overflow: auto;
}

a {
  color: white !important;
}

#cadre{

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }

#chap1{
  position: absolute;
  z-index: 3;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
}

h{
  color: white;
}

.rond {
  position: absolute;
  border-radius: 100%;
  z-index: 2;
  filter: blur(3px) brightness(2);
 /* transition-timing-function:  cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
}

.rondPetit{
  width: 25px;
  height: 25px;
}

.rondMoyen{
  width: 50px;
  height: 50px;

}


.rondGrand{
  width: 100px;
  height: 100px;

}

.rondBleu{
  background: radial-gradient(circle closest-side, rgb(143, 201, 255) 10%, #74fad8 50%, rgb(45, 25, 228));
 /* transition-timing-function:  cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
 transition-duration: 1s;
}

.rondRouge{
  background: radial-gradient(circle closest-side, rgb(255, 152, 121) 10%, #ff3939 50%, rgb(233, 12, 12));
 /* transition-timing-function:  cubic-bezier(0.5, 1.4, 1.0, 0.5);*/
 transition-duration: 2s;
}

.rondVert{
  background: radial-gradient(circle closest-side, rgb(161, 227, 112) 10%, #79c561 50%, rgb(20, 238, 49));
 /* transition-timing-function:  cubic-bezier(1.1, 0.2, 0.3, 1.2);*/
 transition-duration: 3s;
}

.rondJaune{
  background: radial-gradient(circle closest-side, rgb(252, 249, 153) 10%, #f4ff4c 50%, rgb(214, 248, 20));
 /* transition-timing-function:  cubic-bezier(0.3, 0.1, 0.3, 0.4);*/
 transition-duration: 4s;
}
.rondViolet{
  background: radial-gradient(circle closest-side, rgb(255, 217, 238) 10%, #ff2dd2 50%, rgb(161, 2, 153));
 /* transition-timing-function:  cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
 transition-duration: 1.6s;
}

.rondRose{
  background: radial-gradient(circle closest-side, rgb(182, 102, 102) 10%, #fa7487 50%, rgb(253, 54, 164));
 /* transition-timing-function:  cubic-bezier(0.5, 0.8, 1.5, 0.1);*/
 transition-duration: 2.6s;
}

.rondMarron{
  background: radial-gradient(circle closest-side, rgb(248, 185, 108) 10%, #e09d39 50%, rgb(97, 36, 0));
 /* transition-timing-function:  cubic-bezier(1.4, 0.2, 1.1, 0.8);*/
 transition-duration: 3.6s;
}

.rondOrange{
  background: radial-gradient(circle closest-side, rgb(255, 190, 73) 10%, #f1b864 50%, rgb(255, 117, 38));
 /* transition-timing-function:  cubic-bezier(0.7, 0.4, 0.3, 0.1);*/
 transition-duration: 4.6s;
}
