.flatteries{
    text-align: center;
    /*background-position: center; */
    padding-top: 10%;
    display:none; /*On cache les flatteries a l'utilisateur au debut du chapitre*/
}

a {
  color: white;
}


.uneFlatterie{
  padding:10px;
}

#chap2{
  position: absolute;
  /*margin-top: 25%;*/
  top: 45%;
  left:0;
  width: 100%;
  text-align: center;
}

#canvaFemme{
   position: absolute;
   left: 59%;
   top: 15%;
   /*width:334px;
   height:500px; */
}

#pointInterrog{
  position: absolute;
  left: 30%;
  top: 20%;
  font-size:200px;
  color:white;
  cursor:pointer;
}


#pointInterrog:hover{
      text-shadow: -1px 0 yellow, 0 -1px yellow, 1px 0 yellow, 0 -1px yellow;

}

#pointInterrog:active{
    text-shadow: -2px 0 #FFCF40, 0 -2px #FFCF40, -2px 0 #FFCF40, 0 -2px #FFCF40;
}



/*anciens essais d'effet fadeout*/
/*.show{
opacity: 0 !important;
}
#step{
opacity: 1;
transition: 3s ease-in-out all;
} */
/*.disparaitre{
  opacity: 0 !important;
}*/
